@model VS2017.MvcAdoNet.BankSystem.Models.BankTransaction

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transfer</title>
</head>
<body>

<h4>BankTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="SourceBankAccountId" class="control-label"></label>
                <input asp-for="SourceBankAccountId" class="form-control" />
                <span asp-validation-for="SourceBankAccountId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="TransactionHistoryId" class="control-label"></label>
                <input asp-for="TransactionHistoryId" class="form-control" />
                <span asp-validation-for="TransactionHistoryId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="SourceAccountNumber" class="control-label"></label>
                <input asp-for="SourceAccountNumber" class="form-control" readonly="readonly" />
                <span asp-validation-for="SourceAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetAccountNumber" class="control-label"></label>
                <input asp-for="TargetAccountNumber" class="form-control" type="number" required />
                <span asp-validation-for="TargetAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <input asp-for="TransactionType" class="form-control" readonly="readonly" />
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionAmount" class="control-label"></label>
                <input asp-for="TransactionAmount" class="form-control" type="number" required />
                <span asp-validation-for="TransactionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" readonly="readonly" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="form-group error-message">
                @ViewBag.Message
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
    @Html.ActionLink("Back to Bank Transaction Selection", "Index", "BankTransaction", new { loginName = ViewBag.LoginName })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
